<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/images/QRAUqs9.png">
    <link rel="shortcut icon" href="/images/QRAUqs9.png">

    <link rel="stylesheet" href="/stylesheets/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="/stylesheets/flag-icon.min.css">
    <link rel="stylesheet" href="/stylesheets/cs-skin-elastic.css">
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/backstage.css">
    <link href='/stylesheets/css.css' rel='stylesheet' type='text/css'>
    <script src="/javascripts/jq.js"></script>
</head>

<body>
    <div id="right-panel" class="right-panel">

        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand">JIDE</a>
                    <a class="navbar-brand hidden"><img src="/images/logo2.png" alt="Logo"></a>
                    <!-- <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a> -->
                </div>
            </div>
        </header>
        

        <!-- <div class="clearfix"></div> -->
    </div>
    <div>
        
        <form style="    width: 32%;
        margin-left: 434px;
        border: 1px solid;
        padding: 30px 50px 30px 50px;
        margin-top: 129px;">
        <h5 style="    font-size: 25px;
        margin-bottom: 23px;
        border-bottom: 2px solid #a0a0a0;">管理员登录</h5>
            <div class="form-group">
              <label>用户名</label>
              <input type="text" class="form-control" id="adminname" aria-describedby="emailHelp" placeholder="请输入用户名">
            
            </div>
            <div class="form-group">
              <label >密码</label>
              <input type="password" class="form-control" placeholder="请输入密码" id="password">

            </div>
            
            <button type="button" id="login" class="btn btn-primary">登录</button>
          </form>
    </div>
    <script src="/javascripts/jq.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.matchHeight.min.js"></script>
    <script src="/javascripts/main1.js"></script>
    <script src="/javascripts/datatables.min.js"></script>
    <script src="/javascripts/dataTables.bootstrap.min.js"></script>
    <script src="/javascripts/dataTables.buttons.min.js"></script>
    <script src="/javascripts/buttons.bootstrap.min.js"></script>
    <script src="/javascripts/jszip.min.js"></script>
    <script src="/javascripts/vfs_fonts.js"></script>
    <script src="/javascripts/buttons.html5.min.js"></script>
    <script src="/javascripts/buttons.print.min.js"></script>
    <script src="/javascripts/buttons.colVis.min.js"></script>
    <script src="/javascripts/datatables-init.js"></script>
    <script src="/javascripts/product.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });

        $("#login").click(function (){
            $.ajax({
                type:"POST",
                url:"/admin/login",
                data:{"username":$("#adminname").val(),"password":$("#password").val()},
                success:function (){
                        window.location="/admin/products/findProductList";
                }
            })
        })
    </script>

    <script>
        //鼠标移开密码框开始验证
        $("#username").blur(function () {
            var password = $("#username").val();
            console.log(password)
            var Password=/^(\w){6,20}$/;
            if (!Password.test(password)) {
                $("#p_password").html("<font color=\"red\" size=\"2\">密码格式填写错误！</font>");
            } else {
                $("#p_password").html("<font color=\"green\" size=\"2\">密码格式正确！</font>");
            }
        })

        //鼠标放置密码框不验证
        $("#username").focus(function(){
            $("#p_password").html("");
        })
    </script>


</body>

</html>