<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/images/QRAUqs9.png">
    <link rel="shortcut icon" href="/images/QRAUqs9.png">

    <link rel="stylesheet" href="../static/stylesheets/normalize.min.css">
    <link rel="stylesheet" href="../static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../static/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="../static/stylesheets/themify-icons.css">
    <link rel="stylesheet" href="../static/stylesheets/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="../static/stylesheets/flag-icon.min.css">
    <link rel="stylesheet" href="../static/stylesheets/cs-skin-elastic.css">
    <link rel="stylesheet" href="../static/stylesheets/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="../static/stylesheets/style2.css">
    <link rel="stylesheet" href="../static/stylesheets/backstage.css">
    <link href='../static/stylesheets/css.css' rel='stylesheet' type='text/css'>
    <script src="../static/javascripts/jq.js"></script>
</head>

<body>

    <!-- <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-item-has-children active dropdown">
                        <a href="table.html" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-table"></i>商品管理</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-table"></i><a href="/tables2">订单列表</a></li>
                            <li><i class="fa fa-table"></i><a href="/tables">商品列表</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>管理员</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-sign-in"></i><a href="adlogin.html">登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </aside> -->

    <div id="right-panel" class="right-panel">

        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand">JIDE</a>
                    <a class="navbar-brand hidden"><img src="/images/logo2.png" alt="Logo"></a>
                    <!-- <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a> -->
                </div>
            </div>
        </header>
        

        <!-- <div class="clearfix"></div> -->
    </div>
    <div>
        
        <form style="    width: 32%;
        margin-left: 434px;
        border: 1px solid;
        padding: 30px 50px 30px 50px;
        margin-top: 129px;">
        <h5 style="    font-size: 25px;
        margin-bottom: 23px;
        border-bottom: 2px solid #a0a0a0;">管理员登录</h5>
            <div class="form-group">
              <label for="exampleInputEmail1">用户名</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入用户名">
            
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" >密码</label>
              <input type="password" class="form-control" placeholder="请输入密码" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">登录</button>
          </form>
    </div>
    <script src="../static/javascripts/jq.js"></script>
    <script src="../static/javascripts/popper.min.js"></script>
    <script src="../static/javascripts/bootstrap.min.js"></script>
    <script src="../static/javascripts/jquery.matchHeight.min.js"></script>
    <script src="../static/javascripts/main1.js"></script>
    <script src="../static/javascripts/datatables.min.js"></script>
    <script src="../static/javascripts/dataTables.bootstrap.min.js"></script>
    <script src="../static/javascripts/dataTables.buttons.min.js"></script>
    <script src="../static/javascripts/buttons.bootstrap.min.js"></script>
    <script src="../static/javascripts/jszip.min.js"></script>
    <script src="../static/javascripts/vfs_fonts.js"></script>
    <script src="../static/javascripts/buttons.html5.min.js"></script>
    <script src="../static/javascripts/buttons.print.min.js"></script>
    <script src="../static/javascripts/buttons.colVis.min.js"></script>
    <script src="../static/javascripts/datatables-init.js"></script>
    <script src="../static/javascripts/product.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();
        });
    </script>


</body>

</html>